# This file is used to set environment variables for integration tests.

# Admin user credentials
ADMIN_USER_EMAIL=
ADMIN_USER_PASSWORD=
# Regular user credentials
REGULAR_USER_EMAIL=
REGULAR_USER_PASSWORD=
# Base URL for the API
API_BASE_URL=http://localhost:8787